
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.site_heder {
  padding: 20px 0;
}
.site_logo_link {
  display: inline-block;
  margin-right: 50px;
}
.sitenav {
  display: inline-block;
}
.sitenav-list {
  display: inline-block;
  padding-left: 0;
}
.sitenav_item {
  margin-right:40px;
  display: inline;
}
.last {
  margin: 0;
}
.item_link {
  text-decoration-line: none;
  font-size: 18px;
  color: #1f153480;
}
.home {
  color: #1F1534;
}
.hero {
  padding: 75px 0 200px ;
}
.hero_title {
  margin: 0 0 30px;
  font-size: 48px;

}
.title_desc {
  margin: 0 0 40px;
  font-size: 21px;
  color:#7D7987;
}
.hero_link {
  display: inline-block;
  text-decoration-line: none;
  color: #fff;
  background-color:#458FF6;
  border-radius: 55px;
  padding: 16px 35px;
}
.wraper-text {
  display: inline-block;
  width: 440px;
}
.wrapper_services_text {
  margin: 0 auto;
  width: 952px;
  text-align: center;
}
.line {
  display: inline-block;
  background-color: #000;
  width: 56px;
  height: 2px;


  
}
.prdered_list {
  padding-left: 0;
}
.services {
  padding-bottom: 28px;
}

.types_list {
  display: inline-block;
  padding: 68px 59px 48px 41px;
  margin-bottom: 40px;
  width: 380px;
}
.types_list_name {
  font-size: 24px;
}
.name_desc {
  color: #7D7987;
}
.services_link {
  display: block;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  width: 200px;
  padding: 16px 0;
  margin: 0 auto;
  text-decoration-line: none;
  color: #458FF6;
  font-size: 18px;
  text-align: center; 

}
.about {
  padding: 213px 0 250px;
}

.wrapper_about_title {
  display: inline-block;
  width: 435px;
}
.about_title {
  font-size: 36px;
}
.about_title_desc {
  color: #7d7987;
  font-size: 18px;
}
.aside {
  padding-bottom: 200px;
}

.aside_inner {
  padding: 73px 119px 89px 119px;
  text-align: center;
  width: 1180px;
  background-color:#67C3F3;
  border-radius: 24px;
}
.aside_title {
  color: #fff;
}

.aside_line {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fff;
}
.aside_img {
  display: inline-block;
  border-radius:50%;
  margin-right: 31px;
}
.wrapper-worker-name {
  display: inline-block;
}
.worker_name {
  color: #fff;
  font-size: 22px;
}
.worker {
  font-size: 18px;
  color: #ffffffe6;
}
.worker_words {
  display: inline-block;
  width: 403px;
  color: #ffffffe6;
  font-size: 19px;
}
.check_title {
  text-align: center;
  font-size: 36px;
  margin: 0 0 30px;
}
.check_line {
  display: block;
  margin: 0 auto;
  margin: 0 0 42px;

}
.check_list {
  list-style: none;
}
.check_item {
  width: 380px;
  display: inline-block;
}
.check_item_link {
  text-decoration-line: none;
  color: #4088ed;
  font-size: 17px;
}
.more {
  display: block;
  text-decoration-line: none;
  font-size: 18px;
  width: 200px;
  padding: 16px 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 55px;
  color: #458ff6;
  border: 1.4px solid #458FF6;

 

}
.site_footer {
  background-color:#67C3F3;
  color:#fff;


}
.footer_inner {
  display: inline-block;
  width: 386px;
}
.footer_list {
  display: inline-block;
  list-style: none;
}
.type_list {
  list-style: none;


}
.footer_item {
  display: inline-block;
}


.type_item {
  font-size: 18px;
  
}
.footer_item_title {
  font-size: 20px;
  
}
